.sa-detail {
    margin: 20px 0;
    mat-card-header {
        margin: 20x 0;
        mat-card-title {
            a {
                margin-right: 20px;
            }
        }
    }
    mat-card-content {
        margin-top: 20px;
    }
}