.sa-dashboard {
    .sa-dashboard-header {
        margin: 20px 0;

        h2 {
            font-size: 32px;
        }
    }

    .sa-dashboard-table {
        margin: 20px 0;

        table {
            width: 100%;
        }
    }
}